$large: 1120px
$medium: 900px
    
.items-list
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    column-gap: 80px
    margin: 0 auto

    @media screen and (max-width: $large) 
        column-gap: 20px
    
